In [2]:
import pandas as pd

In [3]:
pt_1 = pd.read_csv('/Users/hrabbani/Downloads/jan-01-2019-oct-31-2019.csv')
pt_2 = pd.read_csv('/Users/hrabbani/Downloads/nov-01-2019-dec-31-2019.csv')

/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/4094960950.py:1: DtypeWarning: Columns (5,6,11,12,15,25,28,29,31,32,37,38,39,40,44,45,46,47,50,51,53,54,56,59,67,68,72) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_1 = pd.read_csv('/Users/hrabbani/Downloads/jan-01-2019-oct-31-2019.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/4094960950.py:2: DtypeWarning: Columns (12,25,37,38,39,40,44,45,46,47,56) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_2 = pd.read_csv('/Users/hrabbani/Downloads/nov-01-2019-dec-31-2019.csv')

In [4]:
pt_1.dtypes

committee_id          object
committee_name        object
report_year            int64
report_type           object
image_number           int64
                      ...
schedule_type         object
increased_limit      float64
sub_id                 int64
pdf_url               object
line_number_label     object
Length: 79, dtype: object

In [5]:
pt_2.head()

,committee_id,committee_name,report_year,report_type,image_number,line_number,transaction_id,file_number,committee_name.1,entity_type,...,filing_form,link_id,is_individual,memo_text,two_year_transaction_period,schedule_type,increased_limit,sub_id,pdf_url,line_number_label
0,C00693234,"WARREN FOR PRESIDENT, INC.",2019,YE,202001319184895628,17A,4815911,1378669,NaN,IND,...,F3P,4013120201686193181,t,NaN,2020,SA,NaN,4021320201690347408,http://docquery.fec.gov/cgi-bin/fecimg/?202001...,Contributions From Individuals/Persons Other T...
1,C00710574,JOE SESTAK FOR PRESIDENT,2019,TER,201912319166890038,17A,1764585,1368104,NaN,IND,...,F3P,4123120191682606148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683178651,http://docquery.fec.gov/cgi-bin/fecimg/?201912...,Contributions From Individuals/Persons Other T...
2,C00700906,"WELD 2020 PRESIDENTIAL CAMPAIGN COMMITTEE, INC.",2019,YE,202001319184637269,17A,A8E7AECB099374DE6A9F,1377449,NaN,IND,...,F3P,4013120201686193172,t,NaN,2020,SA,NaN,4020420201686911993,http://docquery.fec.gov/cgi-bin/fecimg/?202001...,Contributions From Individuals/Persons Other T...
3,C00700906,"WELD 2020 PRESIDENTIAL CAMPAIGN COMMITTEE, INC.",2019,YE,202001319184637270,17A,A43CD0399306A4233A57,1377449,NaN,IND,...,F3P,4013120201686193172,t,NaN,2020,SA,NaN,4020420201686911996,http://docquery.fec.gov/cgi-bin/fecimg/?202001...,Contributions From Individuals/Persons Other T...
4,C00700906,"WELD 2020 PRESIDENTIAL CAMPAIGN COMMITTEE, INC.",2019,YE,202001319184637271,17A,A45729DF1AB4D4A42BF8,1377449,NaN,IND,...,F3P,4013120201686193172,t,NaN,2020,SA,NaN,4020420201686911998,http://docquery.fec.gov/cgi-bin/fecimg/?202001...,Contributions From Individuals/Persons Other T...

In [6]:
combined_2019 = pd.concat([pt_1, pt_2])

In [7]:
combined_2019.columns

Index(['committee_id', 'committee_name', 'report_year', 'report_type',
       'image_number', 'line_number', 'transaction_id', 'file_number',
       'committee_name.1', 'entity_type', 'entity_type_desc',
       'unused_contbr_id', 'contributor_prefix', 'contributor_name',
       'recipient_committee_type', 'recipient_committee_org_type',
       'recipient_committee_designation', 'contributor_first_name',
       'contributor_middle_name', 'contributor_last_name',
       'contributor_suffix', 'contributor_street_1', 'contributor_street_2',
       'contributor_city', 'contributor_state', 'contributor_zip',
       'contributor_employer', 'contributor_occupation', 'contributor_id',
       'receipt_type', 'receipt_type_desc', 'receipt_type_full', 'memo_code',
       'memo_code_full', 'contribution_receipt_date',
       'contribution_receipt_amount', 'contributor_aggregate_ytd',
       'candidate_id', 'candidate_name', 'candidate_first_name',
       'candidate_last_name', 'candidate_middle_name', 'candidate_prefix',
       'candidate_suffix', 'candidate_office', 'candidate_office_full',
       'candidate_office_state', 'candidate_office_state_full',
       'candidate_office_district', 'conduit_committee_id',
       'conduit_committee_name', 'conduit_committee_street1',
       'conduit_committee_street2', 'conduit_committee_city',
       'conduit_committee_state', 'conduit_committee_zip',
       'donor_committee_name', 'national_committee_nonfederal_account',
       'election_type', 'election_type_full', 'fec_election_type_desc',
       'fec_election_year', 'amendment_indicator', 'amendment_indicator_desc',
       'schedule_type_full', 'load_date', 'original_sub_id',
       'back_reference_transaction_id', 'back_reference_schedule_name',
       'filing_form', 'link_id', 'is_individual', 'memo_text',
       'two_year_transaction_period', 'schedule_type', 'increased_limit',
       'sub_id', 'pdf_url', 'line_number_label'],
      dtype='object')

In [8]:
combined_2019['contribution_receipt_date'].describe()

count                  607754
unique                    365
top       2019-12-31 00:00:00
freq                    13609
Name: contribution_receipt_date, dtype: object

In [9]:
pt_1_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-1.csv')
pt_2_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-2.csv')
pt_3_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-3.csv')
pt_4_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-4.csv')
pt_5_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-5.csv')
pt_6_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-6.csv')

/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:1: DtypeWarning: Columns (12,37,38,39,40,41,44,45,50,51,53,54,56,59) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_1_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-1.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:2: DtypeWarning: Columns (3,5,6,11,28,31,32,56,59,67,68,72) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_2_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-2.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:3: DtypeWarning: Columns (5,6,11,12,18,20,22,28,31,32,37,38,39,40,41,44,45,50,51,53,54,56,59,67,68,72) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_3_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-3.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:4: DtypeWarning: Columns (6,12,25,31,32,37,50,51,53,54,56,59) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_4_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-4.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:5: DtypeWarning: Columns (3,5,6,11,12,28,31,56,59,67) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_5_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-5.csv')
/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/1892962124.py:6: DtypeWarning: Columns (3,6,31,32,50,51,53,54,56,59) have mixed types. Specify dtype option on import or set low_memory=False.
  pt_6_2020 = pd.read_csv('/Users/hrabbani/Downloads/2020-6.csv')

In [10]:
combined_2020 = pd.concat([pt_1_2020, pt_2_2020, pt_3_2020, pt_4_2020, pt_5_2020, pt_6_2020])

In [11]:
contributions = pd.concat([combined_2019, combined_2020])

In [12]:
contributions.shape

(2753821, 79)

In [13]:
contributions.columns

Index(['committee_id', 'committee_name', 'report_year', 'report_type',
       'image_number', 'line_number', 'transaction_id', 'file_number',
       'committee_name.1', 'entity_type', 'entity_type_desc',
       'unused_contbr_id', 'contributor_prefix', 'contributor_name',
       'recipient_committee_type', 'recipient_committee_org_type',
       'recipient_committee_designation', 'contributor_first_name',
       'contributor_middle_name', 'contributor_last_name',
       'contributor_suffix', 'contributor_street_1', 'contributor_street_2',
       'contributor_city', 'contributor_state', 'contributor_zip',
       'contributor_employer', 'contributor_occupation', 'contributor_id',
       'receipt_type', 'receipt_type_desc', 'receipt_type_full', 'memo_code',
       'memo_code_full', 'contribution_receipt_date',
       'contribution_receipt_amount', 'contributor_aggregate_ytd',
       'candidate_id', 'candidate_name', 'candidate_first_name',
       'candidate_last_name', 'candidate_middle_name', 'candidate_prefix',
       'candidate_suffix', 'candidate_office', 'candidate_office_full',
       'candidate_office_state', 'candidate_office_state_full',
       'candidate_office_district', 'conduit_committee_id',
       'conduit_committee_name', 'conduit_committee_street1',
       'conduit_committee_street2', 'conduit_committee_city',
       'conduit_committee_state', 'conduit_committee_zip',
       'donor_committee_name', 'national_committee_nonfederal_account',
       'election_type', 'election_type_full', 'fec_election_type_desc',
       'fec_election_year', 'amendment_indicator', 'amendment_indicator_desc',
       'schedule_type_full', 'load_date', 'original_sub_id',
       'back_reference_transaction_id', 'back_reference_schedule_name',
       'filing_form', 'link_id', 'is_individual', 'memo_text',
       'two_year_transaction_period', 'schedule_type', 'increased_limit',
       'sub_id', 'pdf_url', 'line_number_label'],
      dtype='object')

In [14]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
# Convert first row to dictionary and print key-value pairs
for key, value in contributions.iloc[0].items():
    print(f"{key}: {value}")

committee_id: C00698258
committee_name: HICKENLOOPER 2020
report_year: 2019
report_type: Q1
image_number: 201912239166878441
line_number: 17A
transaction_id: 818700
file_number: 1367729
committee_name.1: nan
entity_type: IND
entity_type_desc: INDIVIDUAL
unused_contbr_id: C00401224
contributor_prefix: nan
contributor_name: NEUBERT, SANDRA
recipient_committee_type: P
recipient_committee_org_type: nan
recipient_committee_designation: P
contributor_first_name: SANDRA
contributor_middle_name: nan
contributor_last_name: NEUBERT
contributor_suffix: nan
contributor_street_1: 30 WIMBLEDON LN
contributor_street_2: nan
contributor_city: EASTON
contributor_state: CT
contributor_zip: 66121238
contributor_employer: NOT EMPLOYED
contributor_occupation: NOT EMPLOYED
contributor_id: C00401224
receipt_type: 15E
receipt_type_desc: EARMARKED CONTRIBUTION
receipt_type_full: nan
memo_code: nan
memo_code_full: nan
contribution_receipt_date: 2019-03-21 00:00:00
contribution_receipt_amount: 100.0
contributor_aggregate_ytd: 200.0
candidate_id: nan
candidate_name: nan
candidate_first_name: nan
candidate_last_name: nan
candidate_middle_name: nan
candidate_prefix: nan
candidate_suffix: nan
candidate_office: nan
candidate_office_full: nan
candidate_office_state: nan
candidate_office_state_full: nan
candidate_office_district: nan
conduit_committee_id: nan
conduit_committee_name: nan
conduit_committee_street1: nan
conduit_committee_street2: nan
conduit_committee_city: nan
conduit_committee_state: nan
conduit_committee_zip: nan
donor_committee_name: nan
national_committee_nonfederal_account: nan
election_type: P2020
election_type_full: nan
fec_election_type_desc: PRIMARY
fec_election_year: 2020.0
amendment_indicator: N
amendment_indicator_desc: NO CHANGE
schedule_type_full: ITEMIZED RECEIPTS
load_date: 2020-01-09 04:16:45.677
original_sub_id: nan
back_reference_transaction_id: 818700E
back_reference_schedule_name: SA17A
filing_form: F3P
link_id: 4122320191682426149
is_individual: t
memo_text: * EARMARKED CONTRIBUTION: SEE BELOW
two_year_transaction_period: 2020
schedule_type: SA
increased_limit: nan
sub_id: 4010820201683172242
pdf_url: http://docquery.fec.gov/cgi-bin/fecimg/?201912239166878441
line_number_label: Contributions From Individuals/Persons Other Than Political Committees

In [15]:
contributions[contributions['receipt_type_desc'] == 'IN-KIND CONTRIBUTION RECEIVED FROM REGISTERED']

,committee_id,committee_name,report_year,report_type,image_number,line_number,transaction_id,file_number,committee_name.1,entity_type,entity_type_desc,unused_contbr_id,contributor_prefix,contributor_name,recipient_committee_type,recipient_committee_org_type,recipient_committee_designation,contributor_first_name,contributor_middle_name,contributor_last_name,contributor_suffix,contributor_street_1,contributor_street_2,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_id,receipt_type,receipt_type_desc,receipt_type_full,memo_code,memo_code_full,contribution_receipt_date,contribution_receipt_amount,contributor_aggregate_ytd,candidate_id,candidate_name,candidate_first_name,candidate_last_name,candidate_middle_name,candidate_prefix,candidate_suffix,candidate_office,candidate_office_full,candidate_office_state,candidate_office_state_full,candidate_office_district,conduit_committee_id,conduit_committee_name,conduit_committee_street1,conduit_committee_street2,conduit_committee_city,conduit_committee_state,conduit_committee_zip,donor_committee_name,national_committee_nonfederal_account,election_type,election_type_full,fec_election_type_desc,fec_election_year,amendment_indicator,amendment_indicator_desc,schedule_type_full,load_date,original_sub_id,back_reference_transaction_id,back_reference_schedule_name,filing_form,link_id,is_individual,memo_text,two_year_transaction_period,schedule_type,increased_limit,sub_id,pdf_url,line_number_label
204408,C00706697,DE BLASIO 2020,2019,Q2,202305189581545517,17A,4311387,1704764,NaN,ORG,ORGANIZATION,C00683664,NaN,NY FAIRNESS PAC,P,NaN,P,NaN,NaN,NaN,NaN,400 JAY ST,STE 120,BROOKLYN,NY,112015116.0,NaN,NaN,C00683664,15Z,IN-KIND CONTRIBUTION RECEIVED FROM REGISTERED,NaN,NaN,NaN,2019-05-15 00:00:00,128.79,52761.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,A,ADD,ITEMIZED RECEIPTS,2023-05-21 04:05:58,NaN,NaN,NaN,F3P,4051820231747781000,t,* IN-KIND: TRAVEL,2020,SA,NaN,4052020231747920824,https://docquery.fec.gov/cgi-bin/fecimg/?202305189581545517,Contributions From Individuals/Persons Other Than Political Committees
205586,C00706697,DE BLASIO 2020,2019,Q2,202305189581545517,17A,4311386,1704764,NaN,ORG,ORGANIZATION,C00683664,NaN,NY FAIRNESS PAC,P,NaN,P,NaN,NaN,NaN,NaN,400 JAY ST,STE 120,BROOKLYN,NY,112015116.0,NaN,NaN,C00683664,15Z,IN-KIND CONTRIBUTION RECEIVED FROM REGISTERED,NaN,NaN,NaN,2019-05-15 00:00:00,134.39,52761.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,A,ADD,ITEMIZED RECEIPTS,2023-05-21 04:05:58,NaN,NaN,NaN,F3P,4051820231747781000,t,* IN-KIND: TRAVEL,2020,SA,NaN,4052020231747920823,https://docquery.fec.gov/cgi-bin/fecimg/?202305189581545517,Contributions From Individuals/Persons Other Than Political Committees
224734,C00706697,DE BLASIO 2020,2019,Q2,202305189581545519,17A,4311391,1704764,NaN,ORG,ORGANIZATION,C00683664,NaN,NY FAIRNESS PAC,P,NaN,P,NaN,NaN,NaN,NaN,400 JAY ST,STE 120,BROOKLYN,NY,112015116.0,NaN,NaN,C00683664,15Z,IN-KIND CONTRIBUTION RECEIVED FROM REGISTERED,NaN,NaN,NaN,2019-05-15 00:00:00,153.30,52761.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,A,ADD,ITEMIZED RECEIPTS,2023-05-21 04:05:58,NaN,NaN,NaN,F3P,4051820231747781000,t,* IN-KIND: TRAVEL,2020,SA,NaN,4052020231747920828,https://docquery.fec.gov/cgi-bin/fecimg/?202305189581545519,Contributions From Individuals/Persons Other Than Political Committees

In [16]:
len(contributions)

2753821

In [17]:
#desired schema for contributions: 
# PK id
# candidate_id (FK for candidates table)
# contributor_id (FK for contributors table)
# contribution_date (taken from contribution_receipt_date)
# contribution_amount (taken from contribution_receipt_amount)


# desired schema for contributors table: 
# PK id
# first_name
# last_name
# contributor_state
# contributor_zip
# contributor_employer
# contributor_occupation

In [18]:
contributions['committee_name'].unique()

array(['HICKENLOOPER 2020', 'COMMITTEE TO ELECT KIM RUFF',
       'TIM RYAN FOR AMERICA', 'JOE SESTAK FOR PRESIDENT',
       'BIDEN FOR PRESIDENT', 'BERNIE 2020', 'WIN THE ERA PAC',
       'FRIENDS OF ANDREW YANG', 'BULLOCK FOR PRESIDENT',
       'CLIFTON ROBERTS FOR PRESIDENT',
       'WELD 2020 PRESIDENTIAL CAMPAIGN COMMITTEE, INC.',
       'AMY FOR AMERICA', 'MARIANNE WILLIAMSON FOR PRESIDENT',
       'WARREN FOR PRESIDENT, INC.', 'FRIENDS OF JOHN DELANEY',
       'PEPPE 2020', 'OJEDA FOR PRESIDENT', 'INSLEE FOR AMERICA',
       'ALYSE FOR ALASKA', 'STANTON FOR CONGRESS', 'GILLIBRAND 2020',
       'DE BLASIO 2020', 'CORY 2020',
       'DONALD J. TRUMP FOR PRESIDENT, INC.', 'TOM STEYER 2020',
       'BENNET FOR AMERICA', 'ADAM KOKESH AMERICAN REFERENDUM PROJECT',
       'DARIO FOR AMERICA', 'ATS FOR PRESIDENT',
       'SETH MOULTON FOR AMERICA, INC.', 'SWALWELL FOR AMERICA',
       'KAMALA HARRIS FOR THE PEOPLE', 'HOWIE HAWKINS FOR OUR FUTURE',
       'WALSH FOR PRESIDENT', 'WAYNE MESSAM FOR AMERICA, INC.',
       'COMMITTEE TO ELECT MARK CHARLES FOR PRESIDENT',
       'KEN ARMSTRONG FOR PRESIDENT 2020',
       'RGA REINSURANCE COMPANY FEDERAL PAC',
       'PONY UP FOR VERMIN SUPREME', 'GLEIB 2020', 'TEAM JJ USA',
       'SHARMIN SMITH FOR PRESIDENT', 'ROCKY 101 LLC',
       'FRIENDS TO ELECT DR. GREG MURPHY TO CONGRESS',
       'STEPHANIE FOR NEW JERSEY', 'AMI FOR AMERICA',
       'COMMITTEE FOR PEACE, JUSTICE, AND MIKE GRAVEL',
       'REPUBLICAN PARTY OF IOWA', 'DAVID CURTIS 2020',
       'AUGUSTUS INVICTUS FOR PRESIDENT, INC',
       'JO JORGENSEN FOR PRESIDENT', 'CASTRO VICTORY FUND',
       'HOWE DEFENDS AMERICA', 'FRIENDS OF JOHN PHILLIPS JR',
       'VOTE COLLINS 2020', 'RICK SANTORUM FOR PRESIDENT, INC. (2012)',
       'BILL FLORES FOR CONGRESS', 'JONI FOR IOWA', 'SEDINAM2020',
       'SANTORUM FOR PRESIDENT 2016', 'ELECT MORE DEMOCRATS PAC',
       'CHANCE FOR PRESIDENT',
       'JACOB HORNBERGER FOR PRESIDENT CAMPAIGN COMMITTEE',
       'DAVID ROLDE 2020', 'MATERN 2020', 'MIKE BLOOMBERG 2020, INC.',
       'ZOLTAN ISTVAN FOR THE PEOPLE LLC', 'WHITNEY 2020 INC.',
       'THOM TILLIS COMMITTEE', 'SHAHEEN FOR SENATE',
       'THE COMMITTEE TO DEFEND THE PRESIDENT',
       'SARAH RIGGS AMICO FOR GEORGIA, INC.', 'TEA PARTY PAC',
       'WASHINGTON RESOURCE ASSOCIATES INC PAC', 'MAINE DEMOCRATIC PARTY',
       'CITIZENS FOR JADE SIMMONS', 'HARRISON MACKLER VICTORY FUND',
       'CHARLES KRAUT 2020 CAMPAIGN', 'PFIZER INC. PAC',
       'GALLEGO FOR ARIZONA',
       "SALT RIVER VALLEY WATER USERS' ASSOCIATION POLITICAL INVOLVEMENT COMMITTEE ( SRPPIC)",
       'KAMALA HARRIS FOR SENATE', 'BUDDY CARTER FOR CONGRESS',
       'ANDY KIM FOR CONGRESS', 'TRANSCANADA USA SERVICES, INC. PAC',
       "ILLINOIS AGRICULTURAL ASSOCIATION ACTIVATOR POLITICAL INVOLVEMENT FUND (FED) 'ACTIVATOR'/'ILLINOIS FARM BUREAU ACTIVATOR'",
       'COMMITTEE TO ELECT JOSEPH KISHORE', 'BRIGID FOR SOUTH JERSEY',
       'PROGRESSIVE TURNOUT PROJECT',
       'COMMITTEE TO ELECT CHRIS FLORQUIST PRESIDENT', 'NORPAC',
       'KEVIN COOKE FOR CONGRESS, INC.', 'MAJORITY COMMITTEE PAC--MC PAC',
       'SUN LIFE FINANCIAL (U.S.) SERVICES COMPANY INC PAC   SUN LIFE PAC',
       'KANYE 2020', 'BROCK PIERCE FOR PRESIDENT',
       'JILL STEIN FOR PRESIDENT', 'GARDNER FOR COLORADO', 'PARADIGM',
       'ERNIE AND DEBBIE', 'DON BLANKENSHIP FOR PRESIDENT',
       'EVERYDISTRICT', 'SUSAN WILD VICTORY FUND', 'KEAN VICTORY FUND',
       'RESTORING OUR DEMOCRACY (ROD PAC)',
       'CONNECTICUT REPUBLICAN PARTY',
       "ENVIRONMENT AMERICA INC. VOTER ACTION (ABBV. 'ENVIRONMENT AMERICA VOTER ACTION')",
       'VIATRIS INC. POLITICAL ACTION COMMITTEE (VIAPAC)',
       'KIND FOR CONGRESS COMMITTEE', 'WYOMING REPUBLICAN PARTY, INC.',
       'ALASKA REPUBLICAN PARTY', 'ARIZONA DEMOCRATIC PARTY',
       'AMERICAN OPTOMETRIC ASSOCIATION POLITICAL ACTION COMMITTEE',
       'POLITICAL ACTION COMMITTEE/THE BANK OF NEW YORK MELLON CORPORATION-FEDERAL(BNY MELLON-FED)',
       'FRIENDS OF HUHNKIE LEE', 'PINNACLE WEST CAPITAL CORPORATION PAC',
       'JPMORGAN CHASE & CO. PAC',
       'FOOD MARKETING INSTITUTE POLITICAL ACTION COMMITTEE FOODPAC',
       'EXPERIAN NORTH AMERICA, INC POLITICAL ACTION COMMITTEE (EXPERIAN PAC)',
       'UNION PACIFIC CORP. FUND FOR EFFECTIVE GOVERNMENT',
       'REPUBLICAN FEDERAL COMMITTEE OF PENNSYLVANIA',
       'AT&T INC./WARNERMEDIA LLC FEDERAL POLITICAL ACTION COMMITTEE (AT&T/WARNERMEDIA FEDERAL PAC)',
       'SOUTH DAKOTA REPUBLICAN PARTY', 'DOUG JONES FOR SENATE COMMITTEE',
       'NATIONAL STONE, SAND & GRAVEL ASSOCIATION ROCKPAC',
       'PENNSYLVANIA DEMOCRATIC PARTY', 'GOROFF VICTORY FUND',
       'NATIONAL ASSOCIATION OF REAL ESTATE INVESTMENT TRUSTS, INC. POLITICAL ACTION COMMITTEE',
       'CVS HEALTH PAC',
       'AMERICAN NETWORK OF COMMUNITY OPTIONS AND RESOURCES DISABILITY CHAMPIONS PAC',
       'STABENOW VICTORY FUND', 'CRUZ 20 FOR 20 VICTORY FUND',
       'NRSC TARGETED STATE VICTORY', 'ACTBLUE',
       'EMPLOYEES OF NORTHROP GRUMMAN CORPORATION PAC',
       'NATIONAL ASSOCIATION OF LETTER CARRIERS OF U.S.A. POLITICAL FUND (LETTER CARRIER POLITICAL FUND)',
       "AMERICAN HOTEL AND LODGING ASSOCIATION POLITICAL ACTION COMMITTEE ('HOTELPAC')",
       'HOUSE FREEDOM FUND',
       'AMERICAN CHIROPRACTIC ASSOCIATION POLITICAL ACTION COMMITTEE',
       'COMMITTEE TO ELECT JAMIE CHEEK',
       'BARNES & THORNBURG POLITICAL ACTION COMMITTEE',
       'MAXIM HEALTHCARE SERVICES INC POLITICAL ACTION COMMITTEE (MAXIM HEALTHCARE PAC)',
       'REV RUBEN DIAZ FOR CONGRESS', 'ROSS FOR MAINE',
       'REPUBLICAN PARTY OF TEXAS', 'HICKENLOOPER FOR COLORADO',
       'ANHEUSER-BUSCH COMPANIES INC. POLITICAL ACTION COMMITTEE',
       'NATIONAL ASSOCIATION OF INSURANCE AND FINANCIAL ADVISORS POLITICAL ACTION COMM',
       'DISCOVERY COMMUNICATIONS, LLC PAC',
       'SOUTHWEST AIRLINES CO. FREEDOM FUND',
       'INTUIT INC. 21ST CENTURY LEADERSHIP FUND',
       'INTERNATIONAL ASSOCIATION OF FIREFIGHTERS INTERESTED IN REGISTRATION AND EDUCATION PAC',
       'MINEPAC, A POLITICAL ACTION COMMITTEE OF THE NATIONAL MINING ASSOCIATION',
       'AMERICAN FEDERATION OF STATE COUNTY & MUNICIPAL EMPLOYEES  P E O P L E',
       'HUCK PAC',
       'ANNALY CAPITAL MANAGEMENT, INC. POLITICAL ACTION COMMITTEE',
       "NORTH AMERICA'S BUILDING TRADES UNIONS POLITICAL EDUCATIONAL FUND",
       'LPL FINANCIAL LLC POLITICAL ACTION COMMITTEE (LPL PAC)',
       'MASSACHUSETTS MUTUAL LIFE INSURANCE COMPANY POLITICAL ACTION COMMITTEE',
       'TCF FINANCIAL CORPORATION PAC',
       'REGENERON PHARMACEUTICALS, INC. PAC',
       'DALLAS COUNTY REPUBLICAN PARTY - PRIMARY',
       'MOLSON COORS BEVERAGE COMPANY USA LLC PAC',
       'LINCOLN CHAFEE FOR PRESIDENT',
       'SAFARI CLUB INTERNATIONAL PAC (SCI-PAC)',
       'BUILD POLITICAL ACTION COMMITTEE OF THE NATIONAL ASSOCIATION OF HOME BUILDERS (BUILDPAC)',
       'EQUALITY CALIFORNIA MAJORITY FUND',
       'AMERICAN GASTROENTEROLOGICAL ASSOCIATION INC. PAC',
       'DENNIS LAMBERT FOR PRESIDENT 2020',
       'AMERICAN ACADEMY OF OTOLARYNGOLOGY-HEAD AND NECK SURGERY ENT PAC',
       'GOOGLE LLC NETPAC',
       'ENVIRONMENTAL DEFENSE ACTION FUND PAC (EDAF PAC)',
       "DIAGEO NORTH AMERICA, INC.  EMPLOYEES' POLITICAL PARTICIPATION COMMITTEE",
       'INTERNATIONAL FRANCHISE ASSOCIATION FRANCHISING POLITICAL ACTION COMMITTEE INC',
       'UNITEDHEALTH GROUP INCORPORATED PAC (UNITEDHEALTH GROUP PAC)',
       "WOMEN'S POLITICAL COMMITTEE FEDERAL",
       'ASSOCIATED BUILDERS AND CONTRACTORS, INC. POLITICAL ACTION COMMITTEE (ABC PAC)',
       'TODD KENT FOR CONGRESS', 'JOHN WASHINGTON FOR US PRESIDENT 2024',
       "HELP AMERICA'S LEADERS POLITICAL ACTION COMMITTEE (HALPAC)",
       'JOHN COWAN FOR CONGRESS, INC.',
       'HAWKEYE 360 EMPLOYEE ACTION FUND', 'NEW MILLENNIUM PAC',
       'VICTORY NOW PAC', 'WILD AND WONDERFUL PAC',
       'KAINE FOR COMMON GROUND PAC', 'ELECTING WOMEN BAY AREA PAC',
       'LEAGUE OF CONSERVATION VOTERS ACTION FUND', 'HOUSE MAJORITY PAC',
       'TRUTH TO POWER', 'BGR PAC',
       'JOBS AND INNOVATION MATTER PAC (JIM PAC)'], dtype=object)

In [19]:
# Filter for only Biden and Trump campaign contributions
contributions = contributions[contributions['committee_name'].isin(['BIDEN FOR PRESIDENT', 'DONALD J. TRUMP FOR PRESIDENT, INC.'])]

In [20]:
contributions.shape

(2084828, 79)

In [21]:
len(contributions[contributions['committee_name'] == 'BIDEN FOR PRESIDENT'])

1262402

In [22]:
#desired schema for contributions: 
# PK id
# candidate_id (FK for candidates table)
# contributor_id (FK for contributors table)
# date (taken from contribution_receipt_date)
# amount (taken from contribution_receipt_amount)

# desired schema for contributors table: 
# contributor_id
# state_id
# first_name
# last_name
# zipcode
# employer
# occupation


# candidates table: 
# PK candidate_id
# candidate_name
# candidate_party

In [54]:
#desired schema for contributions: 
# PK id
# candidate_id (FK for candidates table)
# contributor_id (FK for contributors table)
# date (taken from contribution_receipt_date)
# amount (taken from contribution_receipt_amount)

# Create contributions table with auto-incrementing ID
# Reset index of contributions first to avoid duplicate index issues
contributions = contributions.reset_index(drop=True)

contributions_f = pd.DataFrame()
contributions_f['id'] = range(len(contributions))
contributions_f['candidate_id'] = contributions['committee_id']
contributions_f['contributor_id'] = contributions['contributor_name']
contributions_f['date'] = pd.to_datetime(contributions['contribution_receipt_date'])
contributions_f['amount'] = contributions['contribution_receipt_amount']

In [55]:
# desired schema for contributors table: 
# contributor_id (PK)
# state_id
# first_name
# last_name
# zipcode
# employer
# occupation


contributors= pd.DataFrame()


contributors['contributor_id'] = contributions['contributor_name'] 
contributors['state_id'] = contributions['contributor_state']
contributors['first_name'] = contributions['contributor_first_name']
contributors['last_name'] = contributions['contributor_last_name']
contributors['zipcode'] = contributions['contributor_zip']
contributors['employer'] = contributions['contributor_employer'] 
contributors['occupation'] = contributions['contributor_occupation']


contributors = contributors.drop_duplicates(subset=['contributor_id'])


contributors = contributors.reset_index(drop=True)

In [56]:
contributors.head()

,contributor_id,state_id,first_name,last_name,zipcode,employer,occupation
0,"O'NEILL, ALICEMARIE",CA,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,"FERRARO, PETER",ME,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,"FUHRMAN, BRADLEY",TX,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,"EGGEMEIER, DAN",KY,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,"NICHOLS, FRED",CO,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED

In [57]:
contributors = contributors.rename(columns={'contributor_id': 'name'})

In [58]:
contributors.head()

,name,state_id,first_name,last_name,zipcode,employer,occupation
0,"O'NEILL, ALICEMARIE",CA,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,"FERRARO, PETER",ME,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,"FUHRMAN, BRADLEY",TX,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,"EGGEMEIER, DAN",KY,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,"NICHOLS, FRED",CO,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED

In [61]:
contributions.head()

,committee_id,committee_name,report_year,report_type,image_number,line_number,transaction_id,file_number,committee_name.1,entity_type,entity_type_desc,unused_contbr_id,contributor_prefix,contributor_name,recipient_committee_type,recipient_committee_org_type,recipient_committee_designation,contributor_first_name,contributor_middle_name,contributor_last_name,contributor_suffix,contributor_street_1,contributor_street_2,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_id,receipt_type,receipt_type_desc,receipt_type_full,memo_code,memo_code_full,contribution_receipt_date,contribution_receipt_amount,contributor_aggregate_ytd,candidate_id,candidate_name,candidate_first_name,candidate_last_name,candidate_middle_name,candidate_prefix,candidate_suffix,candidate_office,candidate_office_full,candidate_office_state,candidate_office_state_full,candidate_office_district,conduit_committee_id,conduit_committee_name,conduit_committee_street1,conduit_committee_street2,conduit_committee_city,conduit_committee_state,conduit_committee_zip,donor_committee_name,national_committee_nonfederal_account,election_type,election_type_full,fec_election_type_desc,fec_election_year,amendment_indicator,amendment_indicator_desc,schedule_type_full,load_date,original_sub_id,back_reference_transaction_id,back_reference_schedule_name,filing_form,link_id,is_individual,memo_text,two_year_transaction_period,schedule_type,increased_limit,sub_id,pdf_url,line_number_label
0,C00703975,BIDEN FOR PRESIDENT,2019,Q3,201912179166318809,17A,1050300,1366605,NaN,IND,INDIVIDUAL,C00401224,NaN,"O'NEILL, ALICEMARIE",P,NaN,P,ALICEMARIE,NaN,O'NEILL,NaN,2505 ELLENTOWN RD,NaN,LA JOLLA,CA,920371120,SELF-EMPLOYED,ASTROLOGER,C00401224,15E,EARMARKED CONTRIBUTION,NaN,NaN,NaN,2019-08-20 00:00:00,100.0,350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,N,NO CHANGE,ITEMIZED RECEIPTS,2020-01-09 04:18:09.884,NaN,1050300E,SA17A,F3P,4121820191681657148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683199009,http://docquery.fec.gov/cgi-bin/fecimg/?201912179166318809,Contributions From Individuals/Persons Other Than Political Committees
1,C00703975,BIDEN FOR PRESIDENT,2019,Q3,201912179166318819,17A,1218600,1366605,NaN,IND,INDIVIDUAL,C00401224,NaN,"FERRARO, PETER",P,NaN,P,PETER,NaN,FERRARO,NaN,212 DESTINY BAY RD,NaN,CUTLER,ME,46263128,POLING & CUTLER MARINE,ENGINEER,C00401224,15E,EARMARKED CONTRIBUTION,NaN,NaN,NaN,2019-09-30 00:00:00,100.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,N,NO CHANGE,ITEMIZED RECEIPTS,2020-01-09 04:18:09.888,NaN,1218600E,SA17A,F3P,4121820191681657148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683199039,http://docquery.fec.gov/cgi-bin/fecimg/?201912179166318819,Contributions From Individuals/Persons Other Than Political Committees
2,C00703975,BIDEN FOR PRESIDENT,2019,Q3,201912179166318820,17A,1219800,1366605,NaN,IND,INDIVIDUAL,C00401224,NaN,"FUHRMAN, BRADLEY",P,NaN,P,BRADLEY,NaN,FUHRMAN,NaN,6361 LA POSTA DR,NaN,EL PASO,TX,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN,C00401224,15E,EARMARKED CONTRIBUTION,NaN,NaN,NaN,2019-09-30 00:00:00,100.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,N,NO CHANGE,ITEMIZED RECEIPTS,2020-01-09 04:18:09.888,NaN,1219800E,SA17A,F3P,4121820191681657148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683199043,http://docquery.fec.gov/cgi-bin/fecimg/?201912179166318820,Contributions From Individuals/Persons Other Than Political Committees
3,C00703975,BIDEN FOR PRESIDENT,2019,Q3,201912179166318833,17A,908300,1366605,NaN,IND,INDIVIDUAL,C00401224,NaN,"EGGEMEIER, DAN",P,NaN,P,DAN,NaN,EGGEMEIER,NaN,12032 JOCKEY CLUB DR,NaN,UNION,KY,410917538,ASTRAZENECA,SALES,C00401224,15E,EARMARKED CONTRIBUTION,NaN,NaN,NaN,2019-07-10 00:00:00,100.0,900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,N,NO CHANGE,ITEMIZED RECEIPTS,2020-01-09 04:18:09.894,NaN,908300E,SA17A,F3P,4121820191681657148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683199083,http://docquery.fec.gov/cgi-bin/fecimg/?201912179166318833,Contributions From Individuals/Persons Other Than Political Committees
4,C00703975,BIDEN FOR PRESIDENT,2019,Q3,201912179166318841,17A,974100,1366605,NaN,IND,INDIVIDUAL,C00401224,NaN,"NICHOLS, FRED",P,NaN,P,FRED,NaN,NICHOLS,NaN,PO BOX 1471,NaN,FORT COLLINS,CO,805221471,NOT EMPLOYED,NOT EMPLOYED,C00401224,15E,EARMARKED CONTRIBUTION,NaN,NaN,NaN,2019-07-30 00:00:00,100.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P2020,NaN,PRIMARY,2020.0,N,NO CHANGE,ITEMIZED RECEIPTS,2020-01-09 04:18:09.897,NaN,974100E,SA17A,F3P,4121820191681657148,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4010820201683199105,http://docquery.fec.gov/cgi-bin/fecimg/?201912179166318841,Contributions From Individuals/Persons Other Than Political Committees

In [90]:
# Add an auto-incrementing primary key column 'id' that is the first column
contributors.insert(0, 'id', range(len(contributors)))

In [91]:
contributors.head()

,id,name,state_id,first_name,last_name,zipcode,employer,occupation
0,0,"O'NEILL, ALICEMARIE",CA,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,"FERRARO, PETER",ME,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,"FUHRMAN, BRADLEY",TX,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,"EGGEMEIER, DAN",KY,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,"NICHOLS, FRED",CO,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED

In [43]:
contributions_f.head()

   id candidate_id       contributor_id       date  amount
0   0    C00703975  O'NEILL, ALICEMARIE 2019-08-20   100.0
1   1    C00703975       FERRARO, PETER 2019-09-30   100.0
2   2    C00703975     FUHRMAN, BRADLEY 2019-09-30   100.0
3   3    C00703975       EGGEMEIER, DAN 2019-07-10   100.0
4   4    C00703975        NICHOLS, FRED 2019-07-30   100.0

In [125]:
# Create a mapping dictionary from contributor_id to id
contributor_id_to_pk = dict(zip(contributors['name'], contributors.index))

# Create a new DataFrame with the foreign key reference 
contributions_Fk = contributions_f.copy()

# Map the contributor_id values to the corresponding primary key ids
contributions_Fk['contributor_id'] = contributions_Fk['contributor_id'].map(contributor_id_to_pk)

# Show the first few rows to verify the mapping

In [126]:
contributors.head(23)

,id,name,state_id,first_name,last_name,zipcode,employer,occupation
0,0,"O'NEILL, ALICEMARIE",CA,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,"FERRARO, PETER",ME,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,"FUHRMAN, BRADLEY",TX,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,"EGGEMEIER, DAN",KY,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,"NICHOLS, FRED",CO,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED
5,5,"SLEET, GREGORY",DE,GREGORY,SLEET,198104219,NOT EMPLOYED,NOT EMPLOYED
6,6,"STOWE, VIRGINIA",NY,VIRGINIA,STOWE,101281132,SELF-EMPLOYED,PARENT EDUCATION AND CONSERVATION
7,7,"GALSTON, MIRIAM",MD,MIRIAM,GALSTON,208141014,GEORGE WASHINGTON UNIVERSITY,PROFESSOR
8,8,"PORTER, JACQUELINE",TX,JACQUELINE,PORTER,752094406,SELF,BUSINESS OWNER
9,9,"HARTWIG, DENNIS",IA,DENNIS,HARTWIG,504016651,RETIRED,RETIRED
10,10,"HOPKINS, CAROL",CA,CAROL,HOPKINS,921181429,NOT EMPLOYED,NOT EMPLOYED
11,11,"SAMUEL, MARCY",OH,MARCY,SAMUEL,430817705,FRANKLIN COUNTY,ADMINISTRATOR
12,12,"HALLA-JOEL, JULIE",UT,JULIE,HALLA-JOEL,847386623,NOT EMPLOYED,NOT EMPLOYED
13,13,"POTTER, CINDY",TX,CINDY,POTTER,752183991,NOT EMPLOYED,NOT EMPLOYED
14,14,"FELICELLI, JULIE",MI,JULIE,FELICELLI,483483491,NOT EMPLOYED,NOT EMPLOYED
15,15,"TUROCK, BETTY J.",NJ,BETTY,TUROCK,89042725,RUTGERS UNIVERSITY,RETIRED PROFESSOR AND DEAN
16,16,"BATTISTA, FRED",AZ,FRED,BATTISTA,860046865,NOT EMPLOYED,NOT EMPLOYED
17,17,"FELT, F. CHANDLER CHANDLER",WA,F. CHANDLER,FELT,981155818,NOT EMPLOYED,NOT EMPLOYED
18,18,"MILLER BRENNER, KAREN",TX,KAREN,MILLER BRENNER,787311501,NCUA,ANALYST
19,19,"HAYES, SIDNEY",AR,SIDNEY,HAYES,722074719,NOVITAS-SOLUTION,PHYSICIAN
20,20,"DALY, BRUCE",HI,BRUCE,DALY,967545553,SELF-EMPLOYED,ENGINEER
21,21,"ENGELMANN, GLENN",DC,GLENN,ENGELMANN,200365904,ENGELMANN PLLC,ATTORNEY
22,22,"FIELD, DONALD",CA,DONALD,FIELD,951202053,NOT EMPLOYED,NOT EMPLOYED

In [127]:
contributions_Fk.head(23)

    id candidate_id  contributor_id       date  amount
0    0    C00703975               0 2019-08-20   100.0
1    1    C00703975               1 2019-09-30   100.0
2    2    C00703975               2 2019-09-30   100.0
3    3    C00703975               3 2019-07-10   100.0
4    4    C00703975               4 2019-07-30   100.0
5    5    C00703975               5 2019-07-31   100.0
6    6    C00703975               6 2019-07-31   100.0
7    7    C00703975               7 2019-07-31   100.0
8    8    C00703975               8 2019-09-12   100.0
9    9    C00703975               9 2019-09-12   100.0
10  10    C00703975              10 2019-09-20   100.0
11  11    C00703975              11 2019-09-22   100.0
12  12    C00703975              12 2019-09-22   100.0
13  13    C00703975              13 2019-08-04   100.0
14  14    C00703975              14 2019-08-04   100.0
15  15    C00703975              15 2019-09-23   100.0
16  16    C00703975              16 2019-09-23   100.0
17  17    C00703975              17 2019-08-25   100.0
18  18    C00703975              18 2019-09-04   100.0
19  19    C00703975              19 2019-09-13   100.0
20  20    C00703975              20 2019-09-13   100.0
21  21    C00703975              21 2019-09-15   100.0
22  22    C00703975              22 2019-09-15   100.0

In [128]:
candidates= pd.DataFrame(columns=['candidate_id', 'candidate_name', 'candidate_party'])
# Add candidate data
candidates.loc[0] = [1, 'Joe Biden', 'Democratic']
candidates.loc[1] = [2, 'Donald Trump', 'Republican']

In [129]:
contributions_Fk['candidate_id'].unique()

array(['C00703975', 'C00580100'], dtype=object)

In [130]:
# Create a mapping dictionary for candidate IDs to names
candidate_mapping = {
    'C00703975': 'Joe Biden',
    'C00580100': 'Donald Trump'
}

# Replace the candidate IDs with candidate names
contributions_Fk['candidate_id'] = contributions_Fk['candidate_id'].replace(candidate_mapping)

In [131]:
# Create final contributions table with numeric candidate IDs
contributions_final = contributions_Fk.copy()
contributions_final['candidate_id'] = contributions_final['candidate_id'].replace({'Joe Biden': 1, 'Donald Trump': 2})

/var/folders/qh/m5x94rg50hg7j50drtwmw3pc0000gn/T/ipykernel_71282/521168387.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  contributions_final['candidate_id'] = contributions_final['candidate_id'].replace({'Joe Biden': 1, 'Donald Trump': 2})

In [132]:
contributions_Fk['candidate_id'].value_counts()

candidate_id
Joe Biden       1262402
Donald Trump     822426
Name: count, dtype: int64

In [133]:
contributions_final.head(10)

   id  candidate_id  contributor_id       date  amount
0   0             1               0 2019-08-20   100.0
1   1             1               1 2019-09-30   100.0
2   2             1               2 2019-09-30   100.0
3   3             1               3 2019-07-10   100.0
4   4             1               4 2019-07-30   100.0
5   5             1               5 2019-07-31   100.0
6   6             1               6 2019-07-31   100.0
7   7             1               7 2019-07-31   100.0
8   8             1               8 2019-09-12   100.0
9   9             1               9 2019-09-12   100.0

In [134]:
candidates.head(10)

   candidate_id candidate_name candidate_party
0             1      Joe Biden      Democratic
1             2   Donald Trump      Republican

In [135]:
contributors_state = contributors.copy()
contributors_state.head(10)

,id,name,state_id,first_name,last_name,zipcode,employer,occupation
0,0,"O'NEILL, ALICEMARIE",CA,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,"FERRARO, PETER",ME,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,"FUHRMAN, BRADLEY",TX,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,"EGGEMEIER, DAN",KY,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,"NICHOLS, FRED",CO,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED
5,5,"SLEET, GREGORY",DE,GREGORY,SLEET,198104219,NOT EMPLOYED,NOT EMPLOYED
6,6,"STOWE, VIRGINIA",NY,VIRGINIA,STOWE,101281132,SELF-EMPLOYED,PARENT EDUCATION AND CONSERVATION
7,7,"GALSTON, MIRIAM",MD,MIRIAM,GALSTON,208141014,GEORGE WASHINGTON UNIVERSITY,PROFESSOR
8,8,"PORTER, JACQUELINE",TX,JACQUELINE,PORTER,752094406,SELF,BUSINESS OWNER
9,9,"HARTWIG, DENNIS",IA,DENNIS,HARTWIG,504016651,RETIRED,RETIRED

In [136]:
states = pd.read_csv('/Users/hrabbani/Downloads/states.csv')
states.head()

   id  state_name abbr  electoral
0   1     Alabama   AL          9
1   2      Alaska   AK          3
2   3     Arizona   AZ         11
3   4    Arkansas   AR          6
4   5  California   CA         55

In [137]:
# Create a mapping dictionary from state abbreviations to state ids
state_abbr_to_id = dict(zip(states['abbr'], states['id'].astype(int)))

# Create a new DataFrame with the foreign key reference 
contributors_final = contributors_state.copy()

# Map the state abbreviations to state ids from states table
# Fill any NaN values with -1 before converting to integer
contributors_final['state_id'] = contributors_final['state_id'].map(state_abbr_to_id).fillna(-1).astype(int)

# Show the first few rows to verify the mapping
contributors_final.head()

,id,name,state_id,first_name,last_name,zipcode,employer,occupation
0,0,"O'NEILL, ALICEMARIE",5,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,"FERRARO, PETER",20,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,"FUHRMAN, BRADLEY",44,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,"EGGEMEIER, DAN",18,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,"NICHOLS, FRED",6,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED

In [138]:
states.head(10)

   id            state_name abbr  electoral
0   1               Alabama   AL          9
1   2                Alaska   AK          3
2   3               Arizona   AZ         11
3   4              Arkansas   AR          6
4   5            California   CA         55
5   6              Colorado   CO          9
6   7           Connecticut   CT          7
7   8              Delaware   DE          3
8   9  District of Columbia   DC          3
9  10               Florida   FL         29

In [139]:
contributions_final.head(10)

   id  candidate_id  contributor_id       date  amount
0   0             1               0 2019-08-20   100.0
1   1             1               1 2019-09-30   100.0
2   2             1               2 2019-09-30   100.0
3   3             1               3 2019-07-10   100.0
4   4             1               4 2019-07-30   100.0
5   5             1               5 2019-07-31   100.0
6   6             1               6 2019-07-31   100.0
7   7             1               7 2019-07-31   100.0
8   8             1               8 2019-09-12   100.0
9   9             1               9 2019-09-12   100.0

In [140]:
contributors_final.head(10)

,id,name,state_id,first_name,last_name,zipcode,employer,occupation
0,0,"O'NEILL, ALICEMARIE",5,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,"FERRARO, PETER",20,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,"FUHRMAN, BRADLEY",44,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,"EGGEMEIER, DAN",18,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,"NICHOLS, FRED",6,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED
5,5,"SLEET, GREGORY",8,GREGORY,SLEET,198104219,NOT EMPLOYED,NOT EMPLOYED
6,6,"STOWE, VIRGINIA",33,VIRGINIA,STOWE,101281132,SELF-EMPLOYED,PARENT EDUCATION AND CONSERVATION
7,7,"GALSTON, MIRIAM",21,MIRIAM,GALSTON,208141014,GEORGE WASHINGTON UNIVERSITY,PROFESSOR
8,8,"PORTER, JACQUELINE",44,JACQUELINE,PORTER,752094406,SELF,BUSINESS OWNER
9,9,"HARTWIG, DENNIS",16,DENNIS,HARTWIG,504016651,RETIRED,RETIRED

In [141]:
# Rename 'id' column to 'contributor_id' and drop 'name' column
contributors_final = contributors_final.rename(columns={'id': 'contributor_id'}).drop('name', axis=1)

In [142]:
contributors_final.head(10)

,contributor_id,state_id,first_name,last_name,zipcode,employer,occupation
0,0,5,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,20,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,44,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,18,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,6,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED
5,5,8,GREGORY,SLEET,198104219,NOT EMPLOYED,NOT EMPLOYED
6,6,33,VIRGINIA,STOWE,101281132,SELF-EMPLOYED,PARENT EDUCATION AND CONSERVATION
7,7,21,MIRIAM,GALSTON,208141014,GEORGE WASHINGTON UNIVERSITY,PROFESSOR
8,8,44,JACQUELINE,PORTER,752094406,SELF,BUSINESS OWNER
9,9,16,DENNIS,HARTWIG,504016651,RETIRED,RETIRED

In [143]:
contributions_final.head()

   id  candidate_id  contributor_id       date  amount
0   0             1               0 2019-08-20   100.0
1   1             1               1 2019-09-30   100.0
2   2             1               2 2019-09-30   100.0
3   3             1               3 2019-07-10   100.0
4   4             1               4 2019-07-30   100.0

In [144]:
contributions_final = contributions_final.rename(columns={'date': 'contribution_date', 'id': 'contribution_id'})

In [145]:
contributions_final.head()

   contribution_id  candidate_id  contributor_id contribution_date  amount
0                0             1               0        2019-08-20   100.0
1                1             1               1        2019-09-30   100.0
2                2             1               2        2019-09-30   100.0
3                3             1               3        2019-07-10   100.0
4                4             1               4        2019-07-30   100.0

In [146]:
contributors_final.head()

,contributor_id,state_id,first_name,last_name,zipcode,employer,occupation
0,0,5,ALICEMARIE,O'NEILL,920371120,SELF-EMPLOYED,ASTROLOGER
1,1,20,PETER,FERRARO,46263128,POLING & CUTLER MARINE,ENGINEER
2,2,44,BRADLEY,FUHRMAN,799121803,TEXAS TECH UNIV HSC EL PASO,PHYSICIAN
3,3,18,DAN,EGGEMEIER,410917538,ASTRAZENECA,SALES
4,4,6,FRED,NICHOLS,805221471,NOT EMPLOYED,NOT EMPLOYED

In [ ]:
# CONTRIBUTIONS TABLE: DONE (contributions_final)
# CONTRIBUTORS TABLE: DONE (contributors_final)

In [147]:
# export contributions_final and contributors_final to csv
contributions_final.to_csv('contributions_final.csv', index=False)
contributors_final.to_csv('contributors_final.csv', index=False)